$mainColor1: #2987be;
$mainColor2: #1059b8;

* {
    font-family: 'Azeret Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.title {
    font-size: 60px;
    color: $mainColor2;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__block {
        width: 150px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

        .time {
            background-color: $mainColor1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            height: 150px;
            font-size: 95px;
        }

        .timer__title {
            background-color: $mainColor2;
            padding: 5px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            text-align: center;
            color: #fff;
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 150px;

    .button {
        border: none;
        border-radius: 10px;
        font-size: 18px;
        padding: 10px;
        width: 180px;
        transition: .3s ease-in-out;
        cursor: pointer;

        &.start, &.stop {
            color: $mainColor1;

            &:hover {
                background-color: $mainColor2;
                color: #fff;
            }
        }

        &.pause, &.new {
            color: $mainColor1;

            &:hover {
                background-color: #e03889;
                color: #000;
            }
        }
    }
}

.results__block {
    display: none;
    width: 250px;
    border: 1px solid $mainColor2;
    color: $mainColor1;
    font-size: 18px;
    padding: 15px;
    margin: 50px auto 20px;


    .results__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .results__clean {
        font-size: 13px;
        color: #7ea7dc;
        transition: .3s ease-in-out;
        cursor: pointer;
        
        &:hover {
            color: $mainColor1;
        }
    }

    .results__info {
        margin: 10px 0;
        font-size: 16px;
    }
}

.visible {
    display: block;
}
